.error-ot {
  margin-right: 5px;
  background: #e32700;
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  padding: 0px 3px;
}
.form-item-ot-type-id .description{
  font-size: 0.85em !important;
}
.ot-show-hide-tab.hide{
  display: none;
}
